/node_modules/
/.env
/log
/misc
/sandbox.js
/sessions

20210120105405_phones-setup.js

# jest
/coverage

# webpack temporary dir
/build

/dist

# jwt keys
/keys

# Redis sump
/dump.rdb

/sessions
/package.tgz
/package-*.tgz

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions